# Environment
.venv
*.env

# VS Code config
.vscode

# Ignore files for Vite
frontend/node_modules
frontend/*.log
frontend/dist
frontend/src/temp
.vit
stats.html
.eslintcache

# Python cache
backend/__pycache__

# Downloaded images
backend/pinterest
backend/instagram

