/* Resetting default styles */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	width: fit-content;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.1;
}

h1 {
	font-size: 2rem;
	letter-spacing: -0.1rem;
	font-weight: 600;
}

h2 {
	font-size: 1.5rem;
	letter-spacing: -0.05rem;
	font-weight: 500;
}

h3 {
	font-size: 1rem;
	letter-spacing: -0.02rem;
	font-weight: 400;
}

ol {
	list-style-type: decimal;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	transition: color 200ms ease-in-out;
}

a:hover {
	color: hsl(268, 100%, 70%);
}

:root {
	color-scheme: dark;
	scrollbar-width: none;
	--border-color: #ffffff15;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.gradient {
	--size: 1024px;
	--speed: 30s;
	--easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
	width: var(--size);
	height: var(--size);
	position: fixed;
	top: 25%;
	left: 25%; /* Align to the left of the viewport */
	filter: blur(96px);
	background-image: linear-gradient(hsla(268, 82%, 57%, 0.4), hsla(221, 82%, 57%, 0.4));
	animation: rotate var(--speed) var(--easing) alternate infinite;
	border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
	z-index: -999;
}

@media (min-width: 720px) {
	.gradient {
		--size: 768px;
	}
}

body {
	background-color: #151515;
	overflow-x: hidden;
}

.heading {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	position: relative;
	width: 100%;
	top: 8rem;
}

.heading img {
	width: 5rem;
	filter: invert(1);
}

.heading h1 {
	font-family: 'Space Mono', monospace;
	font-size: 5rem;
	letter-spacing: -0.35rem;
}

.input-section {
	display: flex;
	width: 100vw;
	min-height: 100vh;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2.5rem;
	border: 2px solid var(--border-color);
	border-radius: 16px;
	background-color: hsla(0, 0%, 9%, 0.5);
	backdrop-filter: blur(8px);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.platform-options,
.additional-options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.form-field {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0.5rem 2.5rem;
}

.form-field span {
	display: flex;
}

fieldset {
	padding: 1rem 1rem;
	width: 100%;
	margin-bottom: 1rem;
	border-radius: 8px;
	border-color: var(--border-color);
}

label {
	margin: 0 0.5rem;
}

legend {
	font-size: 0.75rem;
	text-transform: uppercase;
	color: rgb(184, 184, 184);
	font-weight: 500;
	letter-spacing: 0.05rem;
}

input,
select {
	padding: 0.5rem 0.5rem;
	border-radius: 8px;
	border: 1px solid var(--border-color);
	color: white;
	background-color: transparent;
	width: 100%;
	transition: all 300ms ease-in-out;
}

select * {
	background-color: #252525;
	border: var(--border-color);
}

input[type='text']:focus,
input[type='date']:focus,
select:focus,
option:focus {
	outline: 1px solid hsl(268, 100%, 65%);
	box-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.8);
}

input[type='checkbox'] {
	accent-color: hsl(268, 100%, 65%);
	scale: 1.25;
	margin-right: 0.25rem;
	transition: all 300ms ease-in-out;
}

.button {
	position: relative;
	height: 2.5rem;
	padding: 0.25rem 1rem;
	border-radius: 12px;
	background: #454545;
	background-size: 400%;
	color: #fff;
	border: 1px solid var(--border-color);
	cursor: pointer;
}

.button-content {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	background: linear-gradient(45deg, hsla(268, 82%, 57%, 0.6) 0%, hsla(221, 82%, 57%, 0.6) 50%);
	background-size: 300%;
	transition: all 300ms ease-in-out;
}

.button:hover::before {
	filter: blur(24px);
}

.hint {
	width: 100%;
	font-size: 0.9rem;
	font-weight: 500;
	color: hsl(0, 0%, 50%);
	padding: 0.25rem 0.5rem;
	opacity: 0;
	transition: opacity 300ms ease;
	transition-delay: 300ms;
	text-align: center;
}

fieldset:hover .hint,
fieldset:focus .hint {
	opacity: 1;
}

.error-icon {
	position: absolute;
	right: 0.5rem;
}

.results {
	width: 100%;
	min-height: 100vh;
	padding: 1rem;
	background-color: #151515;

	.pinterest {
		display: flex;
		flex-direction: column;
		gap: 0.5rem 1rem;
	}

	.pin-header {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		padding: 1rem 2rem;
		background-color: #252525;
		border-radius: 12px;
	}

	.pin-author {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.25rem;
	}

	.pin-avatar {
		border-radius: 50%;
		width: 100%;
		height: 100%;
	}

	.pin-count {
		background-color: hsla(268, 100%, 70%, 0.5);
		padding: 0.25rem 0.5rem;
		margin-top: 0.25rem;
		border-radius: 8px;
	}

	.pin-keywords {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 1rem;
		background-color: #252525;
		border-radius: 12px;

		.pin-keywords-heading {
			margin-bottom: 1rem;
		}
	}
}
